// bower:scss
@import "bower_components/neat/core/_neat.scss";
// endbower
@import "settings.scss";
@import "fonts.scss";
$cT: #309559;
$cR: rgb(201, 14, 82);

.v {
  @include grid-visual;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  color: $cR;
}

body,
html {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  @include grid-container;
}

.right {
  float: right !important;
}

.container {
  padding: 0 40px 10px;
  margin: auto;
}

#wrapper {
  max-width: 1000px;
  margin: auto;
}

#header {
  @include c($s, 12);
  @include grid-media($s) {
    display: none;
  }
  @include grid-media($m) {
    display: flex;
  }
  height: 500px;
  margin: 0;
  align-items: center;
  justify-content: center;
  background: #282537;
  background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  text-align: center;

  img {
    height: 150px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
    margin: 10px 0 0;
  }

  h4 {
    margin: 0;
    font-size: 18px;
    color: #b8b8b8;
  }
}

#main {
  @include c($s, 12);
  $height: 90vh;
  $margen: 60px;
  $altura: 100px;
  @include grid-media($s) {
    margin: 0;
  }
  @include grid-media($m) {
    margin: 10px auto 0;
  }

  #lista-img {
    @include c($s, 12);
    @include c($m, 4);
    overflow: scroll;
    @include grid-media($s) {
      height: 25vh;
      position: absolute;
      bottom: 0;
    }
    @include grid-media($m) {
      height: $height;
      position: initial;
      bottom: initial;
    }

    .categoria {
      margin: $margen/3 0;

      h5 {
        margin: 0 0 10px 20px;
        font-family: 'Anton', sans-serif;
        font-size: 20px;
        color: $cT;
        letter-spacing: 0.02em;
      }

      .divider {
        height: 2px;
        width: 50%;
        background: $cT;
      }
    }

    .active {
      &::before {
        background: rgba($cR, 0.8)!important;
      }
    }

    .img-container {
      overflow: hidden;
      padding: 0;
      display: block;
      position: relative;
      height: $altura;

      &::before {
        content: attr(data-overlay-text);
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background: rgba(55, 53, 75, 0.63);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        line-height: 100px;
        font-size: 18px;
        font-family: 'Titillium Web', sans-serif;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: capitalize;
      }

      &:hover::before {
        background: rgba(55, 53, 75, 0.9);
        font-size: 22px;
      }

      img {
        $sc: 1;
        $t: 0.6s;
        -moz-transform: scale($sc);
        -ms-transform: scale($sc);
        -o-transform: scale($sc);
        -webkit-transform: scale($sc);
        transform: scale($sc);
        -moz-transition: all $t;
        -o-transition: all $t;
        -webkit-transition: all $t;
        transition: all $t;
      }

      &:hover img {
        $sc: 1.5;
        -moz-transform: scale($sc);
        -ms-transform: scale($sc);
        -o-transform: scale($sc);
        -webkit-transform: scale($sc);
        transform: scale($sc);
      }
    }
  }

  #detalle {
    @include c($s, 12);
    @include c($m, 8);
    @include grid-media($s) {
      height: 66vh;
    }
    @include grid-media($m) {
      height: $height;
    }
    overflow: scroll;

    h4 {
      text-transform: uppercase;
      margin-bottom: 0;
      text-align: center;
      font-family: 'Anton', sans-serif;
      font-size: 20px;
      color: $cR;
      letter-spacing: 0.02em;
    }

    .imagen {
      margin: $margen/3 0;

      img {
        height: 300px;
        margin: 0 auto;
        display: block;
      }
    }

    .descripcion {
      p {
        margin-top: 0;
        text-align: justify;
        text-indent: $margen/3;
      }
    }
  }
}
